/* TherapyWeb CSS - Michael Parsakia */

html {
    background-color: #808080;
}

a {
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body {
    margin: 0 auto;
    background-color: #808080;
    font-family: 'Open Sans', sans-serif;
}

/* changes highlight color, WebKit/Blink Browsers, Gecko Browsers */
::selection {
  background: #f5c686; 
}

::-moz-selection {
  background: #f5c686; 
}

/* on mobile / small window stretch page out */
@media screen and (max-width: 800px) {
    body {
        max-width: 100vw;
    }
}

/*  WideWrapper CSS - Wraps "Main" */
.widewrapper {    
    display: flex;
    flex-direction: column;     /* flex and direction or it fucks up */
    min-height: 100vh;          /* stretch body to bottom before footer */
    max-width: 1300px;          /* scales hero image, also offsets navbar! keep in mind if you change this value to update others! */
    background-color: #c7c7c7;
    margin: 0 auto;
    padding: 0px 5px 0px 5px;   /* extra "trim" on the sides wrapping main*/
}

.widewrapper a, a:hover{
    text-decoration: none;
}

.widewrapper b {
    font-weight: bold;
}

/* HeroContainer and ClearGifScale + Text Resizes media queries */
.herocontainer {
    position: relative;
    margin: 10px 5px 5px 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../photos/hero.jpg'); 
    background-size: auto 100%;
    background-position: center; 
    background-repeat: no-repeat;
}

.clearimg {
    width: 100%;
}


.herotxt {
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px 8px rgba(0,0,0,0.4); /* blur box soft edges match bg color */
    border-radius: 4px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;       /* width & height of the shadowbox */
    font-size: 30px;
    line-height: 10px;
}

/* hr style for the rules inside the shadowbox */
.herotxt hr {
    border:none;
    height: 1px;
    color: #ffffff;
    background-color: #ffffff;
    width: 75%;   
}

/* Scaling font for shadowbox resizing */
@media screen and (max-width: 900px) {
    .herotxt {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .herotxt {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    .herotxt {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .herotxt {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .herotxt {
        font-size: 16px;
    }

}

@media screen and (max-width:450px) {
        .herocontainer {
        overflow: scroll; /* scroll overflow the text & shadowbox in case of an old phone visiting site... */
    }
}

@media screen and (max-width: 400px) {
    .herotxt {
        font-size: 14px;
    }
}


/* header for pages that are NOT the homepage with hero image - FIX THIS UP!! */
.wideheader {
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: #f5f5f5;
    background-color: #323232;
}

.wideheader h1 {
    color: #f5f5f5;
    font-size: 32px; 
    margin: 0 auto;
}


/* widemain CSS - inner container of widerwapper & used on one-off pages and homepage */
.widemain {
    font-size: 18px;
    padding: 0px;
    margin: 5px 5px 10px 5px;       /* for some reason bottom needs double PX before footer (TRBL) */
    background-color: #f5f5f5;
    flex: 1;                        /* stretches the container to the footer */
}

/* we don't have any hr's yet but if we do we will use this, sofar we use .mainlabel below */
.widemain hr {
    border: none;
    height: 2px;
    color: #7265b5;
    background-color: #7265b5;
    width: 100%;
    margin-top:5px;
    margin-bottom:5px;
}

/* SPANNED h1 and h2 tags, used in the "span" tags for the "headings" (purple lines) */
.mainlabel h1 {
    padding: 6px 0px 8px 0px;
    color: #ffffff;
    background: #38325a;
    border-radius: 0px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 32px;
}

.mainlabel h2 {
    padding: 6px 0px 8px 0px;
    color: #ffffff;
    background: #38325a;
    border-radius: 0px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 26px;
}

/* If you need regular h-tags (unspanned) code them in here (most likely inside wmaintxt) */

/* --- Most content is inside wmaintxt --- */
.wmaintxt {
    
}

/* PurpleBanner Spanned edge to edge, but this currently affects <p> tags in the grids! */
.wmaintxt p {
    padding: 10px;  
    line-height: 130%;
    color: #000000;
}

/* mobile overrides wmaintxt */
@media screen and (max-width: 700px) {
    .wmaintxt {

    }
    
    .wmaintxt p {
    padding: 10px;  
    line-height: 130%;
    color: #000000;
    }
}


/* Navbar CSS and JS Styling */
.navwrap {
    display: block;
    background-color: #7265b5;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    -moz-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5); /* dropshadow trim & cross-browser css */
    -webkit-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
    z-index: 999;       /* z-index high value to always show this top, (fix for hero img overlap) */
}

.topnav {
    max-width: 1310px;      /* This value = widewrapper max + it's padding left and right */
    margin: 0 auto;
    overflow: hidden;
    background-color: #7265b5;
}

/* Links <a>'s must be floated left, navlogo must be floated right for this long-purple to work & center things above content*/
.topnav a {
    float: left;
    padding: 0px 10px;      /* 10 so it lines up w/ widewrap pad L R */
    font-size: 20px;   
    font-weight: bold;
    color: #ffffff;
    line-height: 75px;      /* line-height of the logo's tall value */

}

.navlogo {
    float:right;
    max-height: 75px;       /* most likely not neccesary if logo is == 150x75 */
}


.topnav a:hover {
    background-color: #f5c686;
    color: black;
}

/* override the text to black on first button */
#topact {
    color:#000000; 
}

.active {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.topnav .icon {
    display: none;
}

    
/*
navbar breakpoints for scaling below, fix later.
some of the text will wrap and the navbar will take up 2x the space
also the logo needs to scale down or be hidden completely
this navbar size is smaller than full-size but not the sandwich-iphone menu one

@media screen and (max-width: 1000px) {
    .navlogo {
        display: none;
    }
    .topnav a {
        font-size: 18px;
        padding: 0px 10px;
    }
}
    
*/

/* navbar changes when on mobile or resize */
@media screen and (max-width: 700px) {

    .navlogo {
        display: none; /* hide the logo for now, maybe we can get this to show nicely somehow later */
    }
    
    .topnav a {
        line-height: 65px;
    }
    
    .topnav a:not(:first-child) {
        display: none;
  }

    .topnav a.icon {
        float: right;
        display: block;
        background-color: rgba(0,0,0,0.5);   
        color: #ffffff;
        padding: 0 28px;
        font-size: 32px;
  }
    
    .topnav a:hover {
        background-color: #f5c686;  
        color: #000000;
  }

    .topnav.responsive {
        position: relative;
  }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
  }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
  }
}


/* copyright area footer & remember the <p> overrides, .copyrt wraps the grid's rules !! */
.copyrt {
    background-color: #1c192d;
    padding: 5px;
    -moz-box-shadow: 0px 10px 5px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 0px 10px 5px rgba(0,0,0,0.3) inset;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3) inset;
}

.copyrt p {
    font-size: 14px;
    text-align: center;
    font-family: monospace;
    color: #ffffff;
}

/* the 3 div grid in the footer left mid right */
.footgrid {
  display: grid;
  word-wrap: break-word;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footleft footmid footrt";
}

.footleft { 
    grid-area: footleft; 
    border: 2px red solid;
}

.footmid {
    grid-area: footmid;
    border: 2px blue solid;
}

.footrt { 
    grid-area: footrt; 
    border:2px green solid;
}


/* Footer Grid Vertical Mobile */
@media screen and (max-width: 800px) {
    .footgrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;    
    grid-template-areas:"footleft" 
                        "footmid"
                        "footrt";
    }
}



/* Specific CSS Rules Begin */

.label {
    display: block;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 30px;
    padding: 5px;
}

/* 2 x 2 Grid on Homepage for Content */
.maingrid {
    display: grid;
    
    padding: 5px 0px;
    grid-gap: 5px;
    
    word-wrap: break-word;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"one two"
                        "three four";
}

.one {
    grid-area: one;
    background-color: #c16464;
    text-align: center;
    font-size: 20px;
    color: #000000;    
}

.two {
    grid-area: two;
    background-color: #54a37f;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.three {
    grid-area: three;
    background-color: #627cad;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.four {
    grid-area: four;
    background-color: #f2c282;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

/* Reorder the Grid to Vertical on Mobile */
@media screen and (max-width: 800px) {
    .maingrid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;    
    grid-template-areas:"one" 
                        "two"
                        "three"
                        "four";
    }
}

/* Meet the Team Grid */
.teamgrid {
  display: grid;
  grid-gap: 5px;
  word-wrap: break-word;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "picleft picright";
}

.picleft { 
    grid-area: picleft;
    text-align: center;
    background-color: #faebd7;
}

.picright { 
    grid-area: picright;   
    text-align: center;
    background-color: #faebd7;

}

/* Vertical Team Grid Mobile */
@media screen and (max-width: 800px) {
    .teamgrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;    
    grid-template-areas:"picleft" 
                        "picright";
    }
}

/* Meet the Team photos CSS */
.pfpcont {
   padding-top: 24px;
   text-align: center;
   margin: 0 auto;
   padding-bottom: 18px;
}

.pfpcont img {
  border-radius: 50%;
  max-width: 35%;
  border: 8px solid #7265b5;
  box-shadow:0 0 0 8px hsl(0, 0%, 65%),  0 0 0 16px hsl(0, 0%, 85%);
}

.pfpspan {
    padding: 10px 15px;
    font-size: 24px;
    color: #ffffff;
    background-color: #7265b5;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    width: 55%;
    font-weight: bold;
}







/*  ----- PROGRAMMING NOTES -----
-----------------------------------------------------------------------------------------------
https://www.tutorialrepublic.com/codelab.php?topic=faq&file=placing-text-over-an-image-with-css

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example of Text Block Over Image</title>
<style type="text/css">
    .box{
        position: relative;
        display: inline-block; 
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top: 40%; 
        background: rgba(0, 0, 0, 0.8);
        font-family: Arial,sans-serif;
        color: #fff;
        width: 60%;
    }
</style>
</head> 
<body>
    <div class="box">
    	<img src="/examples/images/kites.jpg" alt="Flying Kites">
        <div class="text">
            <h1>Flying Kites</h1>
        </div>
    </div>
</body>
</html>           

------------------------------------------------------------------------------------------------

http://www.delwinvriend.com/en/resizable-full-width-hero-images

<div style="width: 100%; background-image: url('hero_1920x468px.jpg'); background-size: auto 100%; background-position: center top; background-repeat: no-repeat;">
    <div style="max-width: 960px; margin: 0 auto;">
        <img src="clear_960x468.gif" style="width: 100%;" alt="My Hero" />
    </div>
</div>

------------------------------------------------------------------------------------------------

https://www.w3schools.com/howto/howto_css_image_text.asp (also have TL TR BL BR)


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

<div class="container">
  <img src="img_snow_wide.jpg" alt="Snow" style="width:100%;">
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div>



On the one two three four divs, bottom rounding only:
border-radius: 0px 0px 10px 10px;
*/